body{
	font-family: Verdana, Calibri, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: rgb(205, 230, 255);
}



/*********************************************************/
/*           nav                                         */

nav{
	width: 100%;
	background-color: #424558;
	border-bottom: 2px solid black;
}

nav > ul{
	margin:0px;
	padding-right: 50px;

}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav > ul > li{
	float: right;
	position: relative;
}


nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
	font-weight: bold;
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}

nav li{
	list-style-type: none;
}

.submenu{
	display: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu li{
	border-bottom: 1px solid #CCC;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-contact:hover{
	border-top: 5px solid #BBB;
	background-color: rgba(220, 220, 220, 0.15);
}

.menu-css:hover{
	border-top: 5px solid #0070bb;
	background-color: rgba(000, 112, 192, 0.15);
}

.menu-html:hover{
	border-top: 5px solid #e44d26;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-html .submenu{
	background-color: rgb(230, 100, 40);
}

.menu-javascript:hover{
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241, 211, 79, 0.15);
}


.menu-css .submenu{
	background-color: rgb(000, 160, 240);
}

.menu-javascript .submenu{
	background-color: rgb(250, 215, 100);
}

.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}

.menu-html .submenu li:hover{
	background-color: rgb(210, 77, 60);
}

.menu-css .submenu li:hover{
	background-color: rgb(000, 115, 200);
}
.menu-javascript .submenu li:hover{
	background-color: rgb(200, 165, 75);
}


/************************************************************/

section{
    margin: 20px;

}

aside{
	display: block;
	vertical-align: top;
	overflow: auto;
	height: 512px;
	width: 256px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #424558;
	text-align: justify;
	border: 2px solid black;
	border-radius: 5px;
	position: absolute;
}

aside h1{
	color: #FFF;
	text-align: center;
}


article{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin-left: 330px;
	position: relative;
	width: 800px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: justify;
	padding: 15px 30px;
	background-color: #FFF;
}

.container{
	height: auto;
}


footer{
	height: 100px;
	width: 100%;
	background-color: #424558;
	border-top: 2px solid black;
	position: relative;
	float: bottom;

}



footer > ul{


}



















